<% circles = {
  'black' => "\xE2\x9A\xAB",
  'white' => "\xE2\x9A\xAA"
}
empty_square = "\xE2\x97\xBB"
%>
<table style="border: 1px solid black;">
  <% Stone::NUMBER_OF_ROWS.times do |row_number| %>
    <tr>
      <% Stone::NUMBER_OF_COLUMNS.times do |column_number| %>
        <td style="border: 1px solid black;">
          <% @stones.where(row: row_number, column: column_number).each do |stone| %>
            <%= link_to circles[stone.color], stone_path(stone.id), method: :delete %>
          <% end %>
          <% if @stones.where(row: row_number, column: column_number).empty? %>
            <%= link_to empty_square, stones_path(row: row_number, column: column_number), method: :post %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<ol>
<% @stones.each do |stone| %>
  <li><%= stone.row %>, <%= stone.column %>, <%= stone.color %></li>
<% end %>
</ol>
