<div>
  Lost stones
  <p> Black: <span id="black-lost-stones"><%= @board.removed_stones['black'] %></span></p>
  <p> White: <span id="white-lost-stones"><%= @board.removed_stones['white'] %></span></p>
</div>
<div>
  <form id="territory">
    Territory
    <p> Black: <input type="text" id="black-territory" value="0" /></p>
    <p> White: <input type="text" id="white-territory" value="0" /></p>
  </form>
</div>
<div>
  Total score
  <p>Black: <span id="black-score"><%= @board.removed_stones['white'] %></span></p>
  <p>White: <span id="white-score"><%= @board.removed_stones['black'] %></span></p>
</div>
<div>
  Next turn: <%= @next_color %>
</div>

<div>
  <%= render 'board' %>
</div>

<div>
  <%= link_to "Pass turn", turns_path, method: :post %>
</div>

<div>
  <%= link_to "New game", '/turn', method: :delete %>
</div>
