<!DOCTYPE html>
<html>
<head>
  <title>Paduk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div><%= link_to "Place stone", new_stone_path %></div>
  <div><%= link_to "See placed stones", stones_path %></div>

<%= yield %>

</body>
</html>
